.links {
    margin: 0 20px;
}

.links > h2 {
    font-size: 14px;
    margin-bottom: 15px;
}

.links > ul > li {
    list-style-type: none;
}

.links > ul > li > a {
    color: hsl(257, 7%, 63%);
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
}

.links > ul > li > a:hover {
    color: hsl(180, 66%, 49%);
    transition: 0.25s color;
}

@media (max-width: 700px) {
    .links {
        margin: 20px 20px;
    }
}