.callToAction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background-color: hsl(257, 27%, 26%);
    background-image: url('../../images//bg-boost-desktop.svg');
    color: white;
}

.buttonPrimary {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: white;
    padding: 10px 30px;
    background-color: hsl(180, 66%, 49%);
    border-radius: 50px;
    margin-top: 20px;
}

.buttonPrimary:hover {
    background-color: hsl(180, 42%, 63%);
    transition: 0.5s background-color;
}

@media (max-width: 700px) {
    .callToAction {
        text-align: center;
    }

    .callToAction > h1 {
        font-size: 22px;
    }
}