.statistics {
    background-color:  hsla(0, 11%, 60%, 0.250);
    /* background-color: red; */
    /* padding: 100px 200px; */
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.statistics__hr {
    position: relative;
    top: -220px;
    z-index: -1;
    border: 3px solid hsl(180, 66%, 49%);
    width: 60%;
}

.statistics > h1 {
    margin-top: 80px;
    text-align: center;
    font-weight: 700;
    color: hsl(260, 8%, 14%);
}

.statistics > h2 {
    width: 30%;
    font-size: 16px;
    font-weight: 500;
    color: hsl(257, 7%, 63%);
    margin: 10px 0;
    text-align: center;
}

.statistics__cards {
    margin-top: 90px;
    display: flex;
    margin: 80px;
    justify-content: center;
}

@media (max-width: 780px) {

    .statistics {
        padding: 30px;
    }

    .statistics > h2 {
        width: 75%;
    }
}

@media (max-width: 960px) {
    .statistics__cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px !important;

    }

    .statistics__hr {
        -webkit-transform:rotate(90deg);
        top: -500px;
        left: 0;
        right: 0;
        width: 70%;
    }
}


@media (max-width: 680px) {
    .statistics__hr {
        top: -450px;
        width: 100%;
    }
}

@media (max-width: 600px) {
    .statistics__hr {
        top: -480px;
    }
}

@media (max-width: 500px) {
    .statistics__hr {
        top: -550px;
    }
}

@media (max-width: 430px) {
    .statistics__hr {
        top: -550px;
        width: 110%;
    }
}

@media (max-width: 390px) {
    .statistics__hr {
        top: -580px;
        width: 110%;
    }
}