.footer {
    background-color: hsl(260, 8%, 14%);
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 60px;
}

.footer > .center {
    display: flex;
    
}

.footer > .right {
    display: flex;
    align-items: flex-start;
}

.footer > .right > .icon {
    padding: 10px;
    font-size: 20px;
}

.footer > .right > .icon:hover {
    opacity: 0.6;
    transition: 0.25s opacity;
    cursor: pointer;
}