.footer {
    background-color: hsl(260, 8%, 14%);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 60px;
}

.footer > .center {
    display: flex;
    justify-content: space-between;
}

.footer > .right {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer > .right > .icon {
    padding: 10px;
    font-size: 20px;
}