.shortener {
    background-color: rebeccapurple;
    border-radius: 8px;
    width: 60%;
    padding: 35px;
    position: relative;
    top: -60px;
    /* background-image: url('../../../public//images//bg-shorten-desktop.svg'); */
}

.shortener > form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shortener > form > input {
    border-radius: 8px;
    padding: 10px;
    width: 75%;
    display: block;
    text-indent: 10px;
    border: none;
}

.shortener > form > input:focus {
    outline: none;

}

.shortener > form > .buttonPrimary {
    width: 15%;
    text-decoration: none;
    font-size: 14px;
    color: white;
    padding: 10px;
    background-color: hsl(180, 66%, 49%);
    border-radius: 8px;
    outline: none;
    margin-left: 15px;
    cursor: pointer;
    border: none;
    
}

.shortener > form > .buttonPrimary:hover {
    background-color: hsl(180, 42%, 63%);
    transition: 0.5s background-color;
}