.shortener {
    background-color: rebeccapurple;
    border-radius: 8px;
    width: 70%;
    padding: 35px;
    position: relative;
    top: -60px;
}

.shortener > form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shortener > form > input {
    border-radius: 8px;
    padding: 10px;
    width: 65%;
    display: block;
}

.shortener > form > .buttonPrimary {
    width: 20%;
    text-decoration: none;
    font-size: 14px;
    color: white;
    padding: 10px;
    background-color: hsl(180, 66%, 49%);
    border-radius: 8px;
    outline: none;
    margin-left: 15px;
    
}

.buttonPrimary:hover {
    background-color: hsl(180, 42%, 63%);
    transition: 0.5s background-color;
}